<h1><%= @task.title  %></h1>
<p><%= @task.details  %></p>
<p>Status: <% if @task.completed %>
      <div>
        <input type="checkbox" name="task" checked>
        <label for="task">Task completed</label>
       </div>
    <% else %>
      <div>
        <input type="checkbox" name="task">
        <label for="task">Mark as completed</label>
      </div>
    <% end %>
</p>
<%= link_to "Return to list of tasks", tasks_path  %>

